.custom__btn {
  padding: 6px;
  font-size: 8px;
  width: 75px;
  height: 40px;
  border: 2px solid #003366;
  border-radius: 20px;
  background: #fff;
  color: black;
  font-weight: 700;
  cursor: pointer;
  text-align: center;
  align-self: center;
}

.custom__btn:hover {
  background: #2b7af0;
}
.custom__btn:focus-within {
  background: #108a00;
}

.btn__container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.85rem;
}


.button-group {
  display: flex;
}

.button-group .custom__btn:not(:last-child) {
  margin-right: 10px; /* Adjust this value to control the spacing */
}

.button-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Create 3 columns */
  grid-gap: 10px; /* Adjust the gap between buttons */
}

/* Other button styles and adjustments as needed */
