.custom__btn {
  padding: 5px;
  font-size: 10px;
  width: 85px;
  height: 81px;
  border: 2px solid #003366;
  border-radius: 0px;
  background: #f0f0f0;
  color: black;
  font-weight: 700;
  cursor: pointer;
  text-align: center;
  align-self: center;
}

.custom__btn:hover {
  background: #6ea4f5;
  color:white;
}
.custom__btn:focus-within {
  background: #108a00;
}

.btn__container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.3rem;
}


.button-group {
  display: flex;
}

.button-group .custom__btn:not(:last-child) {
  margin-right: 10px; /* Adjust this value to control the spacing */
}

.button-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Create 3 columns */
  grid-gap: 10px; /* Adjust the gap between buttons */
}

.button-image {
  max-width: 16px; /* Set the maximum width for the image */
  max-height: 14px; /* Set the maximum height for the image */
  /* Add any other styles you want for the image */
}

.button-text{
  font-size: 9px;
  margin-left: 3px;
  font-family: "Verdana",sans-serif
}
/* Other button styles and adjustments as needed */
