.button-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    border: 2px solid;
    border-radius: 10px;
    padding: 10px;
    background-color: #6ed1f57d;
    height:100px;
}

.button-group {
  display: none;
}

.button-group.visible {
  display: block;
}

.button-group.hidden {
  display: none;
}